# gitconfig
# check: https://git-scm.com/docs/git-config
[user]
	email = zhengbangbo@hotmail.com
	name = Zheng, Bang-Bo
  signingkey = CBDD2505A292145C
# export GPG_TTY=$(tty)
[gpg]
  program = /usr/local/MacGPG2/bin/gpg
[github]
  user = zhengbangbo
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  amend = commit --amend --reuse-message=HEAD
  br = branch
  c = clone
  ci = commit -s
  co = checkout
  gp = log --grep     # 从提交说明中检索
  last = log -1 HEAD
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  n = !git --no-pager
  rc = commit --amend # 修改提交说明
  st = status
  unstage = reset HEAD --
  up = rebase
[core]
	excludesfile = /Users/zbb/.gitignore_global
	editor = code --wait
  compression = 3
  quotepath = false
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[http]
  postBuffer = 1048576000
  lowSpeedLimit = 0
  lowSpeedTime = 999999
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  autoSetupRemote = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
